<html>
<head>
    <title>Contate-Nos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Public/SpecificPageStyles/header.css">
    <link rel="stylesheet" href="/Public/SpecificPageStyles/contato.css">
</head>
<body>
<header>
        <div class="log">
            <img src="/Public/Images/logo.png" width="150" height="50" alt="Logo" class="logo">
            <div class="alog">
              <a href="/views/static/Loginpageview.html">ENTRE</a>
              <a href="/views/static/Registerpageview.html">CADASTRE-SE</a>
            </div>
          </div>
        <div class="header">
            <a href="/views/static/Seeanimalspageview.html">TELA INICIAL </a>
            <a href="/views/static/Aboutuspageview.html">SOBRE NOS</a>
            <a href="/views/static/Contactpageview.html">CONTATO</a>
            <a href="/views/static/Locationpageview.html">LOCALIZAÇÃO</a>
        </div>
</header>
</body>
</html>